<p class="today" draggable="true" ondragstart="drag(event)">Added To-dos <span class="number-of-tasks"> <%= task.length %> tasks </span></p>

<div class="note-column" ondrop="drop(event)" ondragover="allowDrop(event)">

        <% for( var i = 0; i < task.length; i++){ %>  
        <div class="note-row"  draggable="true" ondragstart="drag(event)" >
        <label class="checkbox">
            <input type="checkbox" name="check" />
            <span class="checkmark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
              </svg>
              <p name="<% task.indexOf(task[i]) %>"> <%= task[i] %></p></span>   
              <div class="instruction check">Click to mark "Done"</div>   
            </label>
             
        </div>  

    <% } %>
</div>



